@model HR_Management.Models.Employee
@{
    ViewData["Title"] = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Permissions</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item">Overview</li>
        <li class="breadcrumb-item active">Manage Permission</li>
    </ol>
</div>

<div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">Manage Permission</h4>
    </div>

    <form method="post" enctype="multipart/form-data" asp-action="Permission">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-body row justify-content-center">
            <input type="hidden" asp-for="Employee_ID" />
            <input type="hidden" asp-for="Full_Name" />
            <input type="hidden" asp-for="Date_Of_Birth" />
            <input type="hidden" asp-for="Gender" />
            <input type="hidden" asp-for="ID_Card_Number" />
            <input type="hidden" asp-for="Place_Of_Birth" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="PhoneNumber" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Password" />
            <div class="form-group col-lg-8">
                <label class="control-label">Full Name</label>
                <input value="@Model.Full_Name" readonly class="form-control" />
            </div>
            <div class="form-group col-lg-8">
                <label class="control-label">Email</label>
                <input value="@Model.Email" readonly class="form-control" />
            </div>
            <div class="form-group col-lg-8">
                <label class="control-label">ID Card Number</label>
                <input value="@Model.ID_Card_Number" readonly class="form-control" />
            </div>
            <div class="form-group col-lg-8">
                <label asp-for="Permission" class="control-label">Permission</label>
                <select asp-for="Permission" class="form-control">
                    <option value="1">Admin</option>
                    <option value="2">Manager</option>
                    <option value="3">Employee</option>
                </select>
                <span asp-validation-for="Permission" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-8 text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </form>
</div>
