@model HR_Management.Models.SalaryStatistic
@{
    ViewData["Title"] = "Salary Statistic Details";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Salary Statistic Details</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="breadcrumb-item">Salary Statistic</li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</div>

<div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">View Info @Model.MonthIDNavigation.Month_Name Salary</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="card-body">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Salary_Statistic_ID" />
                    <div class="card-body row">
                        <div class="form-group col-lg-6">
                            <label class="control-label">Employee Name</label>
                            <input asp-for="EmployeeIDNavigation.Full_Name" readonly class="form-control" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">The Month Get Salary</label>
                            <input asp-for="MonthIDNavigation.Month_Name" readonly class="form-control" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">Basic Salary</label>
                            <input asp-for="BasicSalary" readonly class="form-control" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">Tax To Pay</label>
                            <input asp-for="TaxToPay" readonly class="form-control" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label asp-for="Bonus" class="control-label">Bonus</label>
                            <input asp-for="Bonus" readonly class="form-control" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">The Realistic Total</label>
                            <input asp-for="TotalSalary" readonly class="form-control" />
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="control-label">Create Date</label>
                            <input asp-for="Create_Date" readonly class="form-control" />
                        </div>
                        <div class="form-group col-lg-12">
                            <label asp-for="Notes" class="control-label">Notes</label>
                            <textarea asp-for="Notes" readonly class="form-control"></textarea>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <a asp-action="PersonalIncomeTax" class="btn btn-secondary">Come Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>